import React from 'react'
const App = () => {
    return (
        <div>
            hello there!!
            I'm a React component library created using vite!!!
            Edit Me!!!
        </div>
    )
}
export default App
